/* -------- RESET/SET -------- */

html, body, ul, li, div, h1, h2{
	margin: 0;
	padding: 0;
}

body{
	line-height: 1;
	margin: 0 0 80px;
	background: linear-gradient(182deg, #ffffff, #cecece);
	background-size: 100% 100%;
	display: none;
}

html{
	position: relative; /* for sticky footer */
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* -------- COMMON STYLING -------- */

a, p{
	font-family: 'Droid Sans', sans-serif;
}

p{
	font-size: 14px;
	color: #4d4d4d;
}

h2{
	font-size: 25px;
	color: #737373;
	font-family: 'Anton', sans-serif;
	text-shadow: 9px 9px 6px rgba(150, 150, 150, 0.1);
	opacity: .8;
}

.center{
	margin: 0 auto;
	text-align: center;
}

.border{
	border: 3px solid #828282;
	padding: 5px;
	box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-webkit-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-moz-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-o-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
}

.titlePadding{
	padding: 30px 20px 20px 20px;
}

.justify{
	text-align: justify;
	line-height: 1.2;
}

/* -------- MOBILE MENU -------- */

#menuOverlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	color:#fff;
	z-index: 4;
	overflow: hidden;
	background: linear-gradient(359deg, rgba(255, 255, 255, 0.8), rgba(206, 206, 206, 0.8));
	background-size: 100% 100%;
	display: none;
}

.burger{
	display: none;
	position: relative;
	z-index: 10;
}

.cross{
	display: none;
	margin-top: 20px;
}

.mobileNav{
	display: none;
}

/* -------- HEADER -------- */

header{
	position: relative;
}

nav{
	width: 100%;
}

.clear{
	clear: both;
}

#logo{
	position: relative;
	width: 300px;
	height: 150px;
	margin: 20px auto 100px auto;
}

#logo img{
	width: 100%;
	height: auto;
	left: 0;
	position: absolute;
}

#logo img.bottom_image{
	opacity:0;
	-webkit-animation: fadein 6.5s ease-in-out 0s 50;
	-moz-animation: fadein 6.5s ease-in-out 0s 50;
	animation: fadein 6.5s ease-in-out 0s 50;
}

.ulLeft{
	float: left;
	margin-top: 100px;
	margin-left: 10%;
	-webkit-animation:fade ease-in 1;  
	-moz-animation:fade ease-in 1;
	animation:fade ease-in 1;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.ulLeft li{
	display: inline;
	padding: 14px 50px 10px 10px;
	border: 1px solid #828282;
	cursor: pointer;

	box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-webkit-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-moz-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-o-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
}


.ulLeft li a{
	text-decoration: none;
	text-shadow: 9px 9px 6px rgba(150, 150, 150, 0.50);
	color: #333;
	font-family: 'Anton', sans-serif;
	font-size: 18px;
}

.ulLeft li:first-child{
	background-image: url(../images/hover.gif);
	background-repeat: repeat;
	background-position: center;
	width: 100px;
	height: 52px;
	opacity: .4;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.ulLeft li:first-child:hover{
	animation: giffff 0.5s infinite steps(3);
	-webkit-animation: giffff 0.5s infinite steps(3);
	-moz-animation: giffff 0.5s infinite steps(3);
	opacity: .8;
}

.ulLeft li:first-child:active{
	background-color: rgba(123, 178, 174, 0.2);
}

.ulLeft li:nth-child(2){
	background-image: url(../images/hover.gif);
	background-repeat: repeat;
	background-position: center;
	width: 100px;
	height: 52px;
	opacity: .4;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.ulLeft li:nth-child(2):hover{
	animation: gif 0.5s infinite steps(3);
	-webkit-animation: gif 0.5s infinite steps(3);
	-moz-animation: gif 0.5s infinite steps(3);
	opacity: .8;
}

.ulLeft li:nth-child(2):active{
	background-color: rgba(123, 178, 174, 0.2);
}

.ulRight{
	float: right;
	margin-top: 100px;
	margin-right: 10%;
	-webkit-animation:fade ease-in 1;  
	-moz-animation:fade ease-in 1;
	animation:fade ease-in 1;

	-webkit-animation-duration: 1.2s;
	-moz-animation-duration: 1.2s;
	animation-duration: 1.2s;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.ulRight li{
	display: inline;
	padding: 14px 50px 10px 10px;
	border: 1px solid #828282;
	cursor: pointer;

	box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-webkit-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-moz-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-o-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
}

.ulRight li a{
	text-decoration: none;
	text-shadow: 9px 9px 6px rgba(150, 150, 150, 0.50);
	color: #333;
	font-family: 'Anton', sans-serif;
	font-size: 18px;
}

.ulRight li:first-child{
	background-image: url(../images/hover.gif);
	background-repeat: repeat;
	background-position: center;
	width: 100px;
	height: 52px;
	opacity: .4;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.ulRight li:first-child:hover{
	animation: gifff 0.5s infinite steps(3);
	-webkit-animation: gifff 0.5s infinite steps(3);
	-moz-animation: gifff 0.5s infinite steps(3);
	opacity: .8;
}

.ulRight li:first-child:active{
	background-color: rgba(123, 178, 174, 0.2);
}

.ulRight li:nth-child(2){
	background-image: url(../images/hover.gif);
	background-repeat: repeat;
	background-position: center;
	width: 100px;
	height: 52px;
	opacity: .4;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
}

.ulRight li:nth-child(2):hover{
	animation: giff 0.5s infinite steps(3);
	-webkit-animation: giff 0.5s infinite steps(3);
	-moz-animation: giff 0.5s infinite steps(3);
	opacity: .8;
}

.ulRight li:nth-child(2):active{
	background-color: rgba(123, 178, 174, 0.2);
}

#backTitle{
	position: absolute;
	top: -30%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	font-family: 'Lobster', cursive;
	font-size: 120px;
	color: rgb(107, 107, 107);
	text-align: center;
	opacity: .1;
	max-width: 100%;
	-o-transform: rotate(-5deg);
	-khtml-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg);
	z-index: -1;
}

.innerTitle{
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	color: rgba(107, 107, 107, 1);
	text-shadow: 9px 9px 6px rgba(150, 150, 150, 0.1);
	text-align: justify;
	margin: 0 auto;
	max-width: 100%;
}

/* -------- ANIMATION KEY FRAMES -------- */

@keyframes fadein {
  0%, 100% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0%, 100% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0%, 100% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  0%, 100% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  0%, 100% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}

@keyframes fade {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fade {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fade {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-ms-keyframes fade {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-o-keyframes fade {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes gif {
	0%   { background-image: url('../images/hover1.gif'); } 
	33%  { background-image: url('../images/hover2.gif'); }
	66%  { background-image: url('../images/hover3.gif'); }
	100%  { background-image: url('../images/hover4.gif'); }
}

@-moz-keyframes gif {
	0%   { background-image: url('../images/hover1.gif'); } 
	33%  { background-image: url('../images/hover2.gif'); }
	66%  { background-image: url('../images/hover3.gif'); }
	100%  { background-image: url('../images/hover4.gif'); }
}

@-webkit-keyframes gif {
	0%   { background-image: url('../images/hover1.gif'); } 
	33%  { background-image: url('../images/hover2.gif'); }
	66%  { background-image: url('../images/hover3.gif'); }
	100%  { background-image: url('../images/hover4.gif'); }
}

@-ms-keyframes gif {
	0%   { background-image: url('../images/hover1.gif'); } 
	33%  { background-image: url('../images/hover2.gif'); }
	66%  { background-image: url('../images/hover3.gif'); }
	100%  { background-image: url('../images/hover4.gif'); }
}

@-o-keyframes gif {
	0%   { background-image: url('../images/hover1.gif'); } 
	33%  { background-image: url('../images/hover2.gif'); }
	66%  { background-image: url('../images/hover3.gif'); }
	100%  { background-image: url('../images/hover4.gif'); }
}

@keyframes giff {
	0%   { background-image: url('../images/hover2-1.gif'); } 
	33%  { background-image: url('../images/hover2-2.gif'); }
	66%  { background-image: url('../images/hover2-3.gif'); }
	100%  { background-image: url('../images/hover2-4.gif'); }
}

@-moz-keyframes giff {
	0%   { background-image: url('../images/hover2-1.gif'); } 
	33%  { background-image: url('../images/hover2-2.gif'); }
	66%  { background-image: url('../images/hover2-3.gif'); }
	100%  { background-image: url('../images/hover2-4.gif'); }
}

@-webkit-keyframes giff {
	0%   { background-image: url('../images/hover2-1.gif'); } 
	33%  { background-image: url('../images/hover2-2.gif'); }
	66%  { background-image: url('../images/hover2-3.gif'); }
	100%  { background-image: url('../images/hover2-4.gif'); }
}

@-ms-keyframes giff {
	0%   { background-image: url('../images/hover2-1.gif'); } 
	33%  { background-image: url('../images/hover2-2.gif'); }
	66%  { background-image: url('../images/hover2-3.gif'); }
	100%  { background-image: url('../images/hover2-4.gif'); }
}

@-o-keyframes giff {
	0%   { background-image: url('../images/hover2-1.gif'); } 
	33%  { background-image: url('../images/hover2-2.gif'); }
	66%  { background-image: url('../images/hover2-3.gif'); }
	100%  { background-image: url('../images/hover2-4.gif'); }
}

@keyframes gifff {
	0%   { background-image: url('../images/hover3-1.gif'); } 
	33%  { background-image: url('../images/hover3-2.gif'); }
	66%  { background-image: url('../images/hover3-3.gif'); }
	100%  { background-image: url('../images/hover3-4.gif'); }
}

@-moz-keyframes gifff {
	0%   { background-image: url('../images/hover3-1.gif'); } 
	33%  { background-image: url('../images/hover3-2.gif'); }
	66%  { background-image: url('../images/hover3-3.gif'); }
	100%  { background-image: url('../images/hover3-4.gif'); }
}

@-webkit-keyframes gifff {
	0%   { background-image: url('../images/hover3-1.gif'); } 
	33%  { background-image: url('../images/hover3-2.gif'); }
	66%  { background-image: url('../images/hover3-3.gif'); }
	100%  { background-image: url('../images/hover3-4.gif'); }
}

@-ms-keyframes gifff {
	0%   { background-image: url('../images/hover3-1.gif'); } 
	33%  { background-image: url('../images/hover3-2.gif'); }
	66%  { background-image: url('../images/hover3-3.gif'); }
	100%  { background-image: url('../images/hover3-4.gif'); }
}

@-o-keyframes gifff {
	0%   { background-image: url('../images/hover3-1.gif'); } 
	33%  { background-image: url('../images/hover3-2.gif'); }
	66%  { background-image: url('../images/hover3-3.gif'); }
	100%  { background-image: url('../images/hover3-4.gif'); }
}

@keyframes giffff {
	0%   { background-image: url('../images/hover4-1.gif'); } 
	33%  { background-image: url('../images/hover4-2.gif'); }
	66%  { background-image: url('../images/hover4-3.gif'); }
	100%  { background-image: url('../images/hover4-4.gif'); }
}

@-moz-keyframes giffff {
	0%   { background-image: url('../images/hover4-1.gif'); } 
	33%  { background-image: url('../images/hover4-2.gif'); }
	66%  { background-image: url('../images/hover4-3.gif'); }
	100%  { background-image: url('../images/hover4-4.gif'); }
}

@-webkit-keyframes giffff {
	0%   { background-image: url('../images/hover4-1.gif'); } 
	33%  { background-image: url('../images/hover4-2.gif'); }
	66%  { background-image: url('../images/hover4-3.gif'); }
	100%  { background-image: url('../images/hover4-4.gif'); }
}

@-ms-keyframes giffff {
	0%   { background-image: url('../images/hover4-1.gif'); } 
	33%  { background-image: url('../images/hover4-2.gif'); }
	66%  { background-image: url('../images/hover4-3.gif'); }
	100%  { background-image: url('../images/hover4-4.gif'); }
}

@-o-keyframes giffff {
	0%   { background-image: url('../images/hover4-1.gif'); } 
	33%  { background-image: url('../images/hover4-2.gif'); }
	66%  { background-image: url('../images/hover4-3.gif'); }
	100%  { background-image: url('../images/hover4-4.gif'); }
}

/* -------- MAIN CONTENT -------- */

main{
	width: 100%;
	margin: 90px auto;
	max-width: 100%;	
}

.wholeProject{
	opacity: .5;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	height: 250px;
	cursor: pointer;
}

.wholeProject:hover{
	opacity: .8;
}

.leftCol{
	margin-top: 20px;
	float:left;
	width: 50%;
	max-width: 100%;
	display: none;
}

.rightCol{
	margin-top: 20px;
	float:right;
	width: 50%;
	max-width: 100%;
	display: none;
}

.proj{
	border-right: 1px solid #6b6b6b;
	text-align: center;
}

.projLogo{
	width: 500px;
	height: auto;
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
}

.projLogo img{
	width: 100%;
	height: auto;
	max-width: 100%;
	cursor: pointer;
}

.projScreen{
	width: 500px;
	height: auto;
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
}

.projScreen img{
	width: 100%;
	height: auto;
	max-width: 100%;
	cursor: pointer;
}

/* -------- FOOTER -------- */

footer{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 80px;
	width: 100%;
}

#page_info{
	float: left;
	margin: 10px;
}

#page_info p{
	font-size: 12px;
}

/* -------- ABOUT CONTENT -------- */

#aboutMain{
	width: 75%;
	margin: 0 auto;
}

.aboutmeContent{
	float:right;
	text-align: justify;
	width: 70%;
	max-width: 100%;
	line-height: 1.2;
	font-size: 17px;
}

.aboutmeContent p{
	font-size: 15px;
}

#mePic{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: none;
	float: left;
}

#mePic img{
	width: 100%;
	height: auto;
}

/* -------- PORTFOLIO CONTENT -------- */

#portMain{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.portImage{
	width: 800px;
	height: auto;
	max-width: 100%;
	margin: 0 auto;
}

.portImage img{
	width: 100%;
	height: auto;
	max-width: 100%;
}

.portImageMobile{
	width: 350px;
	height: auto;
	max-width: 100%;
	margin: 0 auto;
}

.portImageMobile img{
	width: 100%;
	height: auto;
	max-width: 100%;
}

.portImage{
	width: 800px;
}

.portImage img{
	width: 100%;
}

.visitSite{
	border: 1px solid #828282;
	cursor: pointer;
	width: 400px;
	margin: 60px auto 40px auto;

	box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-webkit-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-moz-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-o-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	opacity: .4;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
	max-width: 100%;
	display: inline-block;
	font-family: 'Anton', sans-serif;
	text-decoration: none;
	font-size: 30px;
	text-shadow: 9px 9px 6px rgba(150, 150, 150, 0.50);
	color: #333;
	padding: 10px 0px 10px 0px;
}

.visitSite:hover{
	opacity: 1;
}

.portInfo{
	width: 70%;
	margin: 0 auto;
	max-width: 100%;
}

#techList li{
	display: inline;
	font-size: 20px;
	color: #4d4d4d;
	border-right: 1px solid #cecece;
	padding: 0px 10px 0px 10px;
	font-family: 'Droid Sans', sans-serif;
}


#techList li:last-child{
	border-right: 0px;
}

#pageNav{
	margin: 40px auto;
	text-align: center;
}

#pageNav ul li{
	display: inline;
	font-family: 'Droid Sans', sans-serif;
	text-decoration: none;
	color: #4d4d4d;
}

#pageNav ul li img{
	width: 50px;
}

/* -------- CONTACT CONTENT -------- */

#formStyle{
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.textinput{
	width: 400px;
	border: 1px solid #828282;
	width: 400px;
	background-color: rgba(255,255,255, 0);

	-webkit-appearance: none;
	-webkit-border-radius: 0;
	padding: 10px;

	box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-webkit-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-moz-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-o-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	opacity: .4;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
	max-width: 100%;
}

.textinput:hover{
	opacity: 1;
}

.btn{
	border: 1px solid #828282;
	cursor: pointer;
	margin: 10px;
	width: 300px
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	opacity: .4;
	box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-webkit-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-moz-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-o-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-o-transition: opacity .8s ease-in-out;
	-ms-transition: opacity .8s ease-in-out;
	transition: opacity .8s ease-in-out;
	max-width: 100%;
	font-family: 'Anton', sans-serif;
	text-decoration: none;
	font-size: 20px;
	text-shadow: 9px 9px 6px rgba(150, 150, 150, 0.50);
	color: #333;
	padding: 5px 15px 5px 15px;
	background-color: transparent;
}

.btn:hover{
	opacity: 1;
}

.lbl{
	display: inline-block;
	font-family: 'Droid Sans', sans-serif;
	color: #4d4d4d;
	font-size: 16px;
	padding: 10px;
}

.formoutput{
	font-size: 25px;
}

#fapadding{
	font-size: 25px;
	display: block;
	margin-bottom: 30px;
}

/* -------- MEDIA QUERIES -------- */

@media only screen and (max-width: 1000px){

	.ulLeft{
		margin-left: 2%;
	}

	.ulRight{
		margin-right: 2%;
	}

	#backTitle{
		font-size: 100px;
	}

	.aboutmeContent{
		float: none;
		margin: 0 auto;
	}

	#mePic{
		float: none;
	}

}

@media only screen and (max-width: 820px){
	.ulLeft{
		display: none;
	}

	.ulRight{
		display: none;
	}

	.wholeProject{
		height: auto;
	}

	.burger{
		display: block;
		position: absolute;
		top: 0px;
		left: 15px;
		background-image: url(../images/burger1.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60px 60px;
		width: 60px;
		height: 60px;
		animation: burger 0.5s infinite steps(3);
		cursor: pointer;
	}

	.cross{
		display: block;
		position: absolute;
		top: 0px;
		left: 15px;
		background-image: url(../images/cross1.gif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60px 60px;
		width: 60px;
		height: 60px;
		animation: cross 0.5s infinite steps(3);
		cursor: pointer;
	}

	.mobileNav{
		display: block;
	}

	.mobileNav li{
		display: block;
		padding: 30px 30px 30px 30px;
		border: 1px solid #828282;
		cursor: pointer;
		width: 100px;
		margin: 10px auto;
		box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
		-webkit-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
		-moz-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
		-o-box-shadow: inset 14px 14px 42px -28px #ABABAB,12px 20px 46px -18px #DDDDDD;
	}

	.mobileNav li a{
		text-decoration: none;
		text-shadow: 9px 9px 6px rgba(150, 150, 150, 0.50);
		color: #333;
		font-family: 'Anton', sans-serif;
		font-size: 20px;
	}

	@keyframes burger {
		0%   { background-image: url('../images/burger1.gif'); } 
		50%  { background-image: url('../images/burger2.gif'); }
		100%  { background-image: url('../images/burger3.gif'); }
	}

	@-moz-keyframes burger {
		0%   { background-image: url('../images/burger1.gif'); } 
		50%  { background-image: url('../images/burger2.gif'); }
		100%  { background-image: url('../images/burger3.gif'); }
	}

	@-webkit-keyframes burger {
		0%   { background-image: url('../images/burger1.gif'); } 
		50%  { background-image: url('../images/burger2.gif'); }
		100%  { background-image: url('../images/burger3.gif'); }
	}

	@-ms-keyframes burger {
		0%   { background-image: url('../images/burger1.gif'); } 
		50%  { background-image: url('../images/burger2.gif'); }
		100%  { background-image: url('../images/burger3.gif'); }
	}

	@-o-keyframes burger {
		0%   { background-image: url('../images/burger1.gif'); } 
		50%  { background-image: url('../images/burger2.gif'); }
		100%  { background-image: url('../images/burger3.gif'); }
	}

	@keyframes cross {
		0%   { background-image: url('../images/cross1.gif'); } 
		50%  { background-image: url('../images/cross2.gif'); }
		100%  { background-image: url('../images/cross3.gif'); }
	}

	@-moz-keyframes cross {
		0%   { background-image: url('../images/cross1.gif'); } 
		50%  { background-image: url('../images/cross2.gif'); }
		100%  { background-image: url('../images/cross3.gif'); }
	}

	@-webkit-keyframes cross {
		0%   { background-image: url('../images/cross1.gif'); } 
		50%  { background-image: url('../images/cross2.gif'); }
		100%  { background-image: url('../images/cross3.gif'); }
	}

	@-ms-keyframes cross {
		0%   { background-image: url('../images/cross1.gif'); } 
		50%  { background-image: url('../images/cross2.gif'); }
		100%  { background-image: url('../images/cross3.gif'); }
	}

	@-o-keyframes cross {
		0%   { background-image: url('../images/burger1.gif'); } 
		50%  { background-image: url('../images/burger2.gif'); }
		100%  { background-image: url('../images/burger3.gif'); }
	}
	
}

@media only screen and (max-width: 790px){
	#backTitle{
		font-size: 80px;
		top: -30%;
	}
}

@media only screen and (max-width: 640px){
	.leftCol{
		float: none;
		width: 100%;
		margin-top: 0px;
	}

	.rightCol{
		float: none;
		width: 100%;
		margin-top: 0px;
	}

	.proj{
		border-right: 0px;
	}

	#backTitle{
		top: -10%;
		overflow-x: hidden;
		overflow-y: hidden;
		white-space: nowrap
	}

	.innerTitle{
		font-size: 15px;
	}

	#aboutMain{
		width: 90%;
	}

	.aboutmeContent{
		width: 95%;
	}

	.portInfo{
		width: 90%;
	}
}